@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Quicksand&display=swap');
/* Familias de estilos:
font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Quicksand', sans-serif;
*/

.título1 {
    text-align: center;
    padding-top: 35px;
    font-size: 4rem;
    font-family: 'Lora', serif;
    color: #010101;
}
/*Texto de navbar y footer*/
.Texto3{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}


.nosotros {
    padding-bottom: 35px;
    padding-top: 35px;
    font-size: 1..5rem;
    font-family: 'Inter', sans-serif;
    color: #010101;
}

.subtítulo {
        font-size: 2rem;
}

.nosotros .row {
    display: flex;
    align-items: center;
}

.nosotros img {
    width: 500px;
    height:fit-content;
}

.nosotros img:hover{
    transform: scale(1.1); /*Hace grande la imagen cuando la seleccionas, también, podemos hacerla más pequeña */
    transition: 4s; /*Es el tiempo que tardará en hacerse grande */
}

.título2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 35px;
    font-family: 'Lora', serif;
    color: #010101;
}

