
/* Termina Mario */html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* LOADING */
.contenedor {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0%;
    background-color: #000;
    z-index: 100000;
}
.cargando-wraper {
    width: 100%;
    height: 100%;
    text-align: center;
}
.close {
    opacity: 0;
    transition: 1.5s;
    display: none;
}
#cargando-l, #cargando-o, #cargando-a, #cargando-d, #cargando-i, #cargando-n, #cargando-g {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 5em;
    font-family: cursive;
    top: 40%;
    left: 0;
    animation: fade 2s linear infinite;
}
#cargando-l{
    animation-delay: .75s;
}
#cargando-o{
    animation-delay: .1s;
}
#cargando-a{
    animation-delay: 1.25s;
}
#cargando-d{
    animation-delay: 1.50s;
}
#cargando-i{
    animation-delay: 1.75s;
}
#cargando-n{
    animation-delay: 2s;
}
#cargando-g{
    animation-delay: 2.25s;
}
@keyframes fade {
    0% {
        text-shadow: 0 0 0 #A3E4D7;
    }
    80% {
        text-shadow: 0 0 20px #fff;
    }
    100% {
        text-shadow: 0 0 20px #A3E4D7;
    }
}
/* TERMINA LOADING */




.dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txts li {
list-style: none;
color:  #00716D;
font-size: 60px;
font-weight: 500;
position: relative;
top: 0;
animation: slide 12s steps(4) infinite;
font-family: 'Lora', serif;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-txts li span {
    position: relative;
    text-align: center;
    margin: 5px 0;
    line-height: 90px;
}
.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 3em;
    height: 100%;
    width: 100%;
    text-align: center;
    animation: typling 3s steps(10) infinite;
}
@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
div .animation {
    animation: animate 5s linear infinite forwards;
    font: 1em 'Tiro Devanagari Sanskrit', serif;
}
@keyframes animate {
    0% {transform: scale(1);}
    25% {transform: scale(1.1);}
    45% {transform: scale(1.4) skewX(-20deg);}
    90% {transform: scale(1.1) skewX(-50deg);}
    100% {transform: scale(1) skew(-90deg);}
}


/* Loader */
#loaderid {
background-color: #0970e5;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
z-index: 100000;
clip-path: circle(50% at 50% 50%);
transition: clip-path 20s ease-in-out ;
}
.loader2 {
    clip-path: circle(0% at 50% 0);
}
@keyframes ldio-0q028e7otp3e {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-0q028e7otp3e div {
    left: 300px;
    top: 300px;
    position: absolute;
    animation: ldio-0q028e7otp3e linear 1s infinite;
    background: #03f44b;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-0q028e7otp3e div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #03f44b;
  }.ldio-0q028e7otp3e div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #03f44b;
  }
  .loadingio-spinner-spinner-6um122whzvg {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-0q028e7otp3e {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-0q028e7otp3e div { box-sizing: content-box; }
/* Termina Loader */

/* Empiezan Cartas */
#cartaPrueba {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
    padding: 2em;
    padding-left: 4.3em;
}
.car {
    margin-top: 3em;
    margin-right: 1em;
    width: 400px;
    height: 450px;
    position: relative;
    background-color: #fff;
} 
.product-img {
    width: 300px;
    height: 230px;
    background-position: 0 -75;
    background-size: cover;
    padding-bottom: .8em;
    border-radius: 2px;
}
.product-detail {
    width: 300px;
    height: 190px;
    background-color: #95AAA6;
    border-radius: 0 40% 0 0;
    padding: 0.8rem;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    color: #F5F5F5;
}
.raiting {
    font-size: 0.7rem;
    color: #fdcc0d;
    user-select: none;
}
.product-detail p {
    font-size: 0.8rem;
    color: #050505;
    margin-top: 7px;
}
.buttons {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {
    font-weight: 700;
    font-size: 1.1rem;
    color: #000;
}
.btn {
    position: relative;
    border: none;
    outline: none;
    background-color: #35353f;
    color: #3fefef;
    height: 40px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.cart {
    width: 160px;
    color: #3fefef;
}
.favourite {
    width: 40px;
    border-radius: 50%;
}
.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #35353f;
    height: 45px;
    transition: 0.3s;
}
.cart::before {
    width: 165px;
    border-radius: 50px;
}
.favourite::before {
    width: 45px;
    border-radius: 50%;
}
.btn:hover::before {
    border-color: #ef3fbd;
}
/* Terminan cartas */

.link {
    margin-left: 5em;
    font-size: 1rem;
    text-decoration: none !important;
    color: #F5F5F5;
}


