/* LOADING */
.contenedor {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0%;
    background-color: #000;
    z-index: 100000;
}
.cargando-wraper {
    width: 100%;
    height: 100%;
    text-align: center;
}
.close {
    opacity: 0;
    transition: 1.5s;
    display: none;
}
#cargando-l, #cargando-o, #cargando-a, #cargando-d, #cargando-i, #cargando-n, #cargando-g {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 5em;
    font-family: cursive;
    top: 40%;
    left: 0;
    animation: fade 2s linear infinite;
}
#cargando-l{
    animation-delay: .75s;
}
#cargando-o{
    animation-delay: .1s;
}
#cargando-a{
    animation-delay: 1.25s;
}
#cargando-d{
    animation-delay: 1.50s;
}
#cargando-i{
    animation-delay: 1.75s;
}
#cargando-n{
    animation-delay: 2s;
}
#cargando-g{
    animation-delay: 2.25s;
}
@keyframes fade {
    0% {
        text-shadow: 0 0 0 #A3E4D7;
    }
    80% {
        text-shadow: 0 0 20px #fff;
    }
    100% {
        text-shadow: 0 0 20px #A3E4D7;
    }
}
/* TERMINA LOADING */

.ContactoFrame{

    height: 100%;
    padding-top: 5%;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 50px;

}

.FondoFrame{
    width: 50px;
   background-color: white;
}

.botoncolor {

    color: #fff;
    background-color:#00716D;
    border-color: #00716D;

  
}; 

.contenedorContacto{
   
    width: 60%;
    margin: 0 auto;
    padding-top: 120px;
}




